.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5vh 10vw;
  background: #ffffff;
}

img {
  height: 4.5vh;
}

button {
  background: none!important;
  border: none!important;
  padding: .2vh;
}
