p, span, h1, h2 {
  margin: 0;
}

.container {
  width: 100%;
  display: block;
  padding: 2vh 3vw;
  position: relative;
}

.close {
  background: none !important;
  border: none!important;
  float: right;
  padding: 2px;
  position: absolute;
  right: 2vw;
  top: 1.5vh;
}

.close:hover svg * {
  stroke: #6D6B6B!important;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 2vh;
  text-align: center;
  font-feature-settings: 'tnum' on, 'onum' on;
  color: #6D6B6B;
  margin-top: 2.5vh;
}

form {
  width: 100%;
  margin-top: 5vh;
}

.buttons {
  width: 100%;
}

.buttons button {
  padding: 1.4vh 2vw;
  border: none!important;
  font-style: normal;
  font-weight: normal;
  font-size: 1.9vh;
  text-align: center;
  font-feature-settings: 'tnum' on, 'onum' on;
  margin-top: 5vh;
  border-radius: 4px;
}

.cancel {
  background: #ffffff;
  color: #FB9CB4;
  float: left;
}

.cancel:hover {
  color: rgba(250, 93, 120, 0.93);
}

.buy {
  background: #FB9CB4;
  color: #ffffff;
  float: right;
}

.buy:hover {
  background: rgba(250, 93, 120, 0.93);
}
