<div class="container">
  <button class="pointer close" [mat-dialog-close]="false">
    <svg width="12" height="12" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line x1="0.776443" y1="1.3759" x2="22.7764" y2="23.3759" stroke="#9B9B9B" stroke-width="2"/>
      <line x1="22.7764" y1="1.69002" x2="0.776444" y2="23.69" stroke="#9B9B9B" stroke-width="2"/>
    </svg>
  </button>
  <h1>Підтвердіть, будь ласка, замовлення</h1>
  <form [formGroup]="orderFormGroup">
    <mat-form-field style="width: 100%;">
      <mat-label>Місто</mat-label>
      <input matInput formControlName="city" type="text">
      <mat-icon matSuffix>
      </mat-icon>
      <mat-error *ngIf="orderFormGroup.get('city').hasError('required')">Вкажіть місто</mat-error>
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <mat-label>Номер поштового відділення</mat-label>
      <input matInput formControlName="postOffice" type="text">
      <mat-icon matSuffix>
      </mat-icon>
      <mat-error *ngIf="orderFormGroup.get('postOffice').hasError('required')">Вкажіть номер поштового відділення
      </mat-error>
    </mat-form-field>
  </form>
  <div class="buttons">
    <button class="pointer cancel" [mat-dialog-close]="false">Скасувати</button>
    <button class="pointer buy">Замовити</button>
  </div>
</div>

