.container {
  width: 100%;
  height: 100vh;
  padding: 2vh 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  width: 100%;
  display: block;
  text-align: center;
}

h1 {
  font-family: Satisfy;
  letter-spacing: 0.05em;
  color: #D7728B;
  font-size: 5vh;
  margin: auto;
}

.detail {
  color: #737171;
  font-size: 2.2vh;
  font-weight: 200;
  width: 60%;
  margin: auto;
  margin-top: 2vh;
}

form {
  width: 60%;
  margin-top: 5vh;
}

.one-elem {
  width: 100%;
  position: relative;
}

.container-button {
  width: 60%;
  margin-top: 17vh;
}

.container-button button {
  width: 100%;
  padding: 1.7vh 2vw;
  background: #F3A9CF;
  border: 1px solid #F3A9CF;
  color: #ffffff;
  font-size: .9vw;
  text-transform: uppercase;
}

.container-button button:hover {
  background: #D36BA0;
  border: 1px solid #D36BA0;
}

.container-button p {
  color: #737171;
  font-weight: normal;
  font-size: 1vw;
  margin: auto;
  margin-top: 2vh;
  text-align: center;
}

.container-button span  {
  color: #D7728B;
  cursor: pointer;
  font-weight: bold;
}

.container-button span:hover {
  color: #B5697C;
}

