<div class="container">
  <div class="photo"></div>
  <div class="information-block">
    <h1>Шуба лілового кальору з комірцем</h1>
    <div class="details">
      <p>Колір: <span>жовтий</span></p>
      <p>Колекція: <span>Новий сезон</span></p>
      <p>Склад: <span>35% шерсть, 35% віскоза, 30% акрил</span></p>
      <p>Матеріал: <span>Шерсть з акрилом</span></p>
    </div>
    <p class="price">Ціна: <span>10 000</span>₴</p>
    <button class="pointer" (click)="cancelOrder()">Скасувати замовлення</button>
  </div>
</div>

