.container {
  width: 100%;
  height: 100%;
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.photo-name, .price-button {
  width: 100%;
  display: block;
}

.photo {
  width: 100%;
  height: 55vh;
  /*background: #F3A9CF;*/
  border-radius: 10px;
  background-image: url("../../../../assets/images/photo_2020-04-24 21.16.07.jpeg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.name {
  color: #776771;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5vw;
  text-align: center;
  margin: 1vh 0;
}

.price-button {
  margin-top: 2vh;
}

.price {
  color: #4F4F4F;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2vw;
  text-align: right;
}

.price-button button {
  width: 100%;
  background: #FB9CB4;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2vw;
  padding: 1.4vh 1vw;
  border: none;
  margin-top: 1vh;
  border-radius: 5px;
}

.price-button button:hover {
  background: #FF007B;
}
