<div class="container">
  <div class="container-form">
    <div class="container-form-left">
      <div class="cont-photo">
        <input type="file">
        <svg viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M61.5821 8.31034V61.8159H7.84388V8.31034H61.5821ZM61.5821 0.666687H7.84388C3.62159 0.666687 0.166992 4.10633 0.166992 8.31034V61.8159C0.166992 66.02 3.62159 69.4596 7.84388 69.4596H61.5821C65.8044 69.4596 69.259 66.02 69.259 61.8159V8.31034C69.259 4.10633 65.8044 0.666687 61.5821 0.666687ZM42.9273 34.5281L31.4119 49.3186L23.1977 39.42L11.6823 54.1723H57.7437L42.9273 34.5281Z" fill="#A7A6A6" fill-opacity="0.68"/>
          <ellipse cx="21.9845" cy="22.3909" rx="6.0607" ry="6.03447" fill="#A7A6A6" fill-opacity="0.68"/>
        </svg>
        <p>Фото <br>профілю</p>
      </div>
      <form class="change-pass-cont" [formGroup]="changePass">
        <!--<div class="flex-block">-->
        <mat-form-field style="width: 100%; margin-top: 1vh;">
          <mat-label>Старий пароль</mat-label>
          <input class="input-pass" matInput formControlName="oldPass"
                 [type]="hideOldPass ? 'password' : 'text'" #oldPassword
                 [ngClass]="{'hide-text':!hideOldPass, 'no-hide-text':hideOldPass}">
          <button mat-icon-button matSuffix (click)="hideOldPass = !hideOldPass">
            <mat-icon (click)="hideOldPass ? 'visibility_off' : 'visibility'" *ngIf="hideOldPass">
              <svg width="22" height="15" viewBox="0 0 22 15" fill="none"
                   xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M11 0C6 0 1.73 3.11 0 7.5C1.73 11.89 6 15 11 15C16 15 20.27 11.89 22 7.5C20.27 3.11 16 0 11 0ZM11 12.5C8.24 12.5 6 10.26 6 7.5C6 4.74 8.24 2.5 11 2.5C13.76 2.5 16 4.74 16 7.5C16 10.26 13.76 12.5 11 12.5ZM11 4.5C9.34 4.5 8 5.84 8 7.5C8 9.16 9.34 10.5 11 10.5C12.66 10.5 14 9.16 14 7.5C14 5.84 12.66 4.5 11 4.5Z"
                  fill="#C8C8C8"/>
              </svg>
            </mat-icon>
            <mat-icon (click)="hideOldPass ? 'visibility_off' : 'visibility'" *ngIf="!hideOldPass">
              <svg width="22" height="18" viewBox="0 0 22 18" fill="none"
                   xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                  <path
                    d="M11 12.5002C11.7 12.5002 12.3 12.3002 12.8 11.9002L8.6 7.7002C8.2 8.2002 8 8.8002 8 9.5002C8 11.2002 9.3 12.5002 11 12.5002Z"
                    fill="#D5D5D5"/>
                  <path
                    d="M9.5999 4.7C9.9999 4.6 10.4999 4.5 10.9999 4.5C13.7999 4.5 15.9999 6.7 15.9999 9.5C15.9999 10.1 15.8999 10.6 15.6999 11.1L18.6999 14.2C20.0999 13 21.2999 11.4 21.9999 9.6C20.2999 5.1 15.9999 2 10.9999 2C9.7999 2 8.5999 2.2 7.3999 2.5L9.5999 4.7Z"
                    fill="#D5D5D5"/>
                  <path d="M11.2998 6.5L13.9998 9.3C13.8998 7.8 12.6998 6.7 11.2998 6.5Z"
                        fill="#D5D5D5"/>
                  <path
                    d="M14.2 13.2998C13.3 13.9998 12.2 14.4998 11 14.4998C8.2 14.4998 6 12.2998 6 9.4998C6 8.2998 6.5 7.0998 7.2 6.2998L4.7 3.7998C2.6 5.0998 0.9 7.0998 0 9.4998C1.7 13.8998 6 16.9998 11 16.9998C13 16.9998 14.9 16.4998 16.6 15.5998L14.2 13.2998Z"
                    fill="#D5D5D5"/>
                  <path
                    d="M3.37825 -0.013991L2.10547 1.25879L18.8637 18.0171L20.1365 16.7443L3.37825 -0.013991Z"
                    fill="#D5D5D5"/>
                </g>
                <defs>
                  <clipPath id="clip0">
                    <rect width="22" height="18" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
            </mat-icon>
          </button>
          <mat-error>Введіть пароль</mat-error>
        </mat-form-field>
        <mat-form-field style="width: 100%; margin-top: 1vh;">
          <mat-label>Новий пароль</mat-label>
          <input class="input-pass" matInput #newPassword  formControlName="newPass"
                 [type]="hideNewPass ? 'password' : 'text'"
                 [ngClass]="{'hide-text':!hideNewPass, 'no-hide-text':hideNewPass}">
          <button mat-icon-button matSuffix (click)="hideNewPass = !hideNewPass">
            <mat-icon (click)="hideNewPass ? 'visibility_off' : 'visibility'" *ngIf="hideNewPass">
              <svg width="22" height="15" viewBox="0 0 22 15" fill="none"
                   xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M11 0C6 0 1.73 3.11 0 7.5C1.73 11.89 6 15 11 15C16 15 20.27 11.89 22 7.5C20.27 3.11 16 0 11 0ZM11 12.5C8.24 12.5 6 10.26 6 7.5C6 4.74 8.24 2.5 11 2.5C13.76 2.5 16 4.74 16 7.5C16 10.26 13.76 12.5 11 12.5ZM11 4.5C9.34 4.5 8 5.84 8 7.5C8 9.16 9.34 10.5 11 10.5C12.66 10.5 14 9.16 14 7.5C14 5.84 12.66 4.5 11 4.5Z"
                  fill="#C8C8C8"/>
              </svg>
            </mat-icon>
            <mat-icon (click)="hideNewPass ? 'visibility_off' : 'visibility'" *ngIf="!hideNewPass">
              <svg width="22" height="18" viewBox="0 0 22 18" fill="none"
                   xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                  <path
                    d="M11 12.5002C11.7 12.5002 12.3 12.3002 12.8 11.9002L8.6 7.7002C8.2 8.2002 8 8.8002 8 9.5002C8 11.2002 9.3 12.5002 11 12.5002Z"
                    fill="#D5D5D5"/>
                  <path
                    d="M9.5999 4.7C9.9999 4.6 10.4999 4.5 10.9999 4.5C13.7999 4.5 15.9999 6.7 15.9999 9.5C15.9999 10.1 15.8999 10.6 15.6999 11.1L18.6999 14.2C20.0999 13 21.2999 11.4 21.9999 9.6C20.2999 5.1 15.9999 2 10.9999 2C9.7999 2 8.5999 2.2 7.3999 2.5L9.5999 4.7Z"
                    fill="#D5D5D5"/>
                  <path d="M11.2998 6.5L13.9998 9.3C13.8998 7.8 12.6998 6.7 11.2998 6.5Z"
                        fill="#D5D5D5"/>
                  <path
                    d="M14.2 13.2998C13.3 13.9998 12.2 14.4998 11 14.4998C8.2 14.4998 6 12.2998 6 9.4998C6 8.2998 6.5 7.0998 7.2 6.2998L4.7 3.7998C2.6 5.0998 0.9 7.0998 0 9.4998C1.7 13.8998 6 16.9998 11 16.9998C13 16.9998 14.9 16.4998 16.6 15.5998L14.2 13.2998Z"
                    fill="#D5D5D5"/>
                  <path
                    d="M3.37825 -0.013991L2.10547 1.25879L18.8637 18.0171L20.1365 16.7443L3.37825 -0.013991Z"
                    fill="#D5D5D5"/>
                </g>
                <defs>
                  <clipPath id="clip0">
                    <rect width="22" height="18" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
            </mat-icon>
          </button>
          <mat-error>Введіть пароль</mat-error>
        </mat-form-field>
        <mat-form-field style="width: 100%; margin-top: 1vh;">
          <mat-label>Повторіть пароль</mat-label>
          <input class="input-pass" matInput  formControlName="repeatNewPass"
                 [type]="hideRepNewPass ? 'password' : 'text'"
                 [ngClass]="{'hide-text':!hideRepNewPass, 'no-hide-text':hideRepNewPass}">
          <button mat-icon-button matSuffix (click)="hideRepNewPass = !hideRepNewPass">
            <mat-icon (click)="hideRepNewPass ? 'visibility_off' : 'visibility'" *ngIf="hideRepNewPass">
              <svg width="22" height="15" viewBox="0 0 22 15" fill="none"
                   xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M11 0C6 0 1.73 3.11 0 7.5C1.73 11.89 6 15 11 15C16 15 20.27 11.89 22 7.5C20.27 3.11 16 0 11 0ZM11 12.5C8.24 12.5 6 10.26 6 7.5C6 4.74 8.24 2.5 11 2.5C13.76 2.5 16 4.74 16 7.5C16 10.26 13.76 12.5 11 12.5ZM11 4.5C9.34 4.5 8 5.84 8 7.5C8 9.16 9.34 10.5 11 10.5C12.66 10.5 14 9.16 14 7.5C14 5.84 12.66 4.5 11 4.5Z"
                  fill="#C8C8C8"/>
              </svg>
            </mat-icon>
            <mat-icon (click)="hideRepNewPass ? 'visibility_off' : 'visibility'" *ngIf="!hideRepNewPass">
              <svg width="22" height="18" viewBox="0 0 22 18" fill="none"
                   xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                  <path
                    d="M11 12.5002C11.7 12.5002 12.3 12.3002 12.8 11.9002L8.6 7.7002C8.2 8.2002 8 8.8002 8 9.5002C8 11.2002 9.3 12.5002 11 12.5002Z"
                    fill="#D5D5D5"/>
                  <path
                    d="M9.5999 4.7C9.9999 4.6 10.4999 4.5 10.9999 4.5C13.7999 4.5 15.9999 6.7 15.9999 9.5C15.9999 10.1 15.8999 10.6 15.6999 11.1L18.6999 14.2C20.0999 13 21.2999 11.4 21.9999 9.6C20.2999 5.1 15.9999 2 10.9999 2C9.7999 2 8.5999 2.2 7.3999 2.5L9.5999 4.7Z"
                    fill="#D5D5D5"/>
                  <path d="M11.2998 6.5L13.9998 9.3C13.8998 7.8 12.6998 6.7 11.2998 6.5Z"
                        fill="#D5D5D5"/>
                  <path
                    d="M14.2 13.2998C13.3 13.9998 12.2 14.4998 11 14.4998C8.2 14.4998 6 12.2998 6 9.4998C6 8.2998 6.5 7.0998 7.2 6.2998L4.7 3.7998C2.6 5.0998 0.9 7.0998 0 9.4998C1.7 13.8998 6 16.9998 11 16.9998C13 16.9998 14.9 16.4998 16.6 15.5998L14.2 13.2998Z"
                    fill="#D5D5D5"/>
                  <path
                    d="M3.37825 -0.013991L2.10547 1.25879L18.8637 18.0171L20.1365 16.7443L3.37825 -0.013991Z"
                    fill="#D5D5D5"/>
                </g>
                <defs>
                  <clipPath id="clip0">
                    <rect width="22" height="18" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
            </mat-icon>
          </button>
          <mat-error>Введіть пароль</mat-error>
        </mat-form-field>
        <!--</div>-->
        <!--<div class="refresh">-->
        <button class="change-pass">Оновити пароль</button>
        <!--</div>-->
      </form>
    </div>
    <div class="container-form-right">
      <div class="form-right-header">
        <h1>Особисті дані</h1>
      </div>
      <form class="form-right-content" [formGroup]="baseInfoFormGroup">
        <div class="form-right-one-line">
          <mat-form-field style="width: 48%;">
            <mat-label>Прізвище</mat-label>
            <input  matInput type="text" formControlName="lastName">
          </mat-form-field>
          <mat-form-field style="width: 48%;">
            <mat-label>Прізвище</mat-label>
            <input  matInput type="text" formControlName="name">
          </mat-form-field>
        </div>
        <div class="form-right-one-line">
          <mat-form-field style="width: 48%;">
            <mat-label>Прізвище</mat-label>
            <input  matInput type="text" formControlName="middleName">
          </mat-form-field>
          <mat-form-field style="width: 48%;">
            <mat-label>Прізвище</mat-label>
            <input  matInput type="date" formControlName="birthday">
          </mat-form-field>
        </div>
        <div class="form-right-one-line">
          <mat-form-field style="width: 48%;">
            <mat-label>Email</mat-label>
            <input  matInput type="text" formControlName="email">
          </mat-form-field>
          <mat-form-field style="width: 48%;">
            <mat-label>Телефон</mat-label>
            <input  matInput type="text" formControlName="phone">
          </mat-form-field>
        </div>
        <div class="form-right-one-line">
          <mat-form-field style="width: 48%;">
            <mat-label>Місто</mat-label>
            <input  matInput type="text" formControlName="email">
          </mat-form-field>
          <mat-form-field style="width: 48%;">
            <mat-label>Відділення пошти</mat-label>
            <input  matInput type="text" formControlName="phone">
          </mat-form-field>
        </div>
        <div class="refresh">
          <button>Оновити інформацію</button>
        </div>
      </form>

    </div>

  </div>

</div>
