p, span, h1, h2 {
  margin: 0;
}

.container {
  width: 100%;
  padding: 7vh 7vw;
}

.container-form {
  width: 100%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.17), inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 5vh 0;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.container-form-left {
  width: 35%;
  padding: 0 2vw;
  border-right: 1px solid #C3C2C2;
  display: block;
  text-align: center;
}

.cont-photo {
  width: 8vw;
  height: 8vw;
  border: 1px solid #737171;
  border-radius: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 100;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.photo {
  width: 8vw;
  height: 8vw;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cont-photo button {
  background: none !important;
  border: none !important;
  padding: 1px;
  position: absolute;
  right: -14px;
  top: -7px;
}

.cont-photo svg {
  width: 2.4vw !important;
}

.cont-photo input {
  width: 7vw;
  height: 7vw;
  opacity: 0;
  position: absolute;
  z-index: 1000;
}

.cont-photo p {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #A7A6A6;
  font-size: .9vw;
  margin-top: 3px;
}

.cont-photo span, .photo span {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  font-size: 2.2vw;
  /*margin-top: 3px;*/
}

.change-pass-cont {
  width: 100%;
  display: block;
}

.change-pass {
  width: 100%;
}

.change-pass,
.refresh button {
  background: #FB9CB4;
  border: none;
  padding: 1.5vh 0;
  margin-top: 2vh;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  font-size: 1vw;
}

.container-form-right {
  width: 65%;
  display: block;
}

.form-right-header {
  width: 100%;
  padding: 0 2vw;
}

h1 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #737171;
  font-size: 1.5vw;
}

.form-right-content {
  width: 100%;
  display: block;
  padding: 4vh 2vw;
}

.form-right-one-line {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.refresh {
  width: 100%;
  /*padding: 0 2vw;*/
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.refresh button {
  padding: 1.5vh 4vw;
}
