<div class="container">
  <div class="container-form">
    <div class="container-form-left">






      <div class="cont-photo" *ngIf="user?.image&&!newPhotoFormGroup.get('image').value">
        <button type="button" (click)="deleteImage()"
                class="pointer" *ngIf="user?.image">
          <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.9844 1.42188L8.40625 7L13.9844 12.5781L12.5781 13.9844L7 8.40625L1.42188 13.9844L0.015625 12.5781L5.59375 7L0.015625 1.42188L1.42188 0.015625L7 5.59375L12.5781 0.015625L13.9844 1.42188Z" fill="#666666"/>
          </svg>
        </button>
        <div class="photo"
             [ngStyle]="{'background-image':'url(data:'+(user?.imageContentType)+';base64,' + user?.image + ')'}"
             *ngIf="user?.image"></div>
      </div>

      <div class="cont-photo" *ngIf="!user?.image">
        <input type="file" id="fileUserPhoto" (change)="setFileData($event, 'image', true)" accept="image/*"/>
        <button type="button" (click)="clearInputImage('image', 'imageContentType', 'fileUserPhoto')"
                class="pointer" *ngIf="newPhotoFormGroup.get('image').value">
          <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.9844 1.42188L8.40625 7L13.9844 12.5781L12.5781 13.9844L7 8.40625L1.42188 13.9844L0.015625 12.5781L5.59375 7L0.015625 1.42188L1.42188 0.015625L7 5.59375L12.5781 0.015625L13.9844 1.42188Z" fill="#666666"/>
          </svg>
        </button>
        <div class="photo"
             [ngStyle]="{'background-image':'url(data:'+ newPhotoFormGroup.get('imageContentType')!.value + ';base64,' + newPhotoFormGroup.get('image')!.value + ')'}"
             *ngIf="newPhotoFormGroup.get('image').value"></div>
        <div class="photo"  [ngStyle]="{'background': color(user?.id)}"
             *ngIf="!user?.image&&!newPhotoFormGroup.get('image').value">
          <p>
            <span *ngIf="user?.firstName">{{user?.firstName[0].toUpperCase()}}</span>
            <span *ngIf="user?.lastName">{{user?.lastName[0].toUpperCase()}}</span>
          </p>
        </div>
      </div>

      <form class="change-pass-cont" [formGroup]="changePass">
        <!--<div class="flex-block">-->
        <mat-form-field style="width: 100%; margin-top: 1vh;">
          <mat-label>Старий пароль</mat-label>
          <input class="input-pass" matInput formControlName="oldPass"
                 [type]="hideOldPass ? 'password' : 'text'" #oldPassword
                 [ngClass]="{'hide-text':!hideOldPass, 'no-hide-text':hideOldPass}">
          <button mat-icon-button matSuffix (click)="hideOldPass = !hideOldPass">
            <mat-icon (click)="hideOldPass ? 'visibility_off' : 'visibility'" *ngIf="hideOldPass">
              <svg width="22" height="15" viewBox="0 0 22 15" fill="none"
                   xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M11 0C6 0 1.73 3.11 0 7.5C1.73 11.89 6 15 11 15C16 15 20.27 11.89 22 7.5C20.27 3.11 16 0 11 0ZM11 12.5C8.24 12.5 6 10.26 6 7.5C6 4.74 8.24 2.5 11 2.5C13.76 2.5 16 4.74 16 7.5C16 10.26 13.76 12.5 11 12.5ZM11 4.5C9.34 4.5 8 5.84 8 7.5C8 9.16 9.34 10.5 11 10.5C12.66 10.5 14 9.16 14 7.5C14 5.84 12.66 4.5 11 4.5Z"
                  fill="#C8C8C8"/>
              </svg>
            </mat-icon>
            <mat-icon (click)="hideOldPass ? 'visibility_off' : 'visibility'" *ngIf="!hideOldPass">
              <svg width="22" height="18" viewBox="0 0 22 18" fill="none"
                   xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                  <path
                    d="M11 12.5002C11.7 12.5002 12.3 12.3002 12.8 11.9002L8.6 7.7002C8.2 8.2002 8 8.8002 8 9.5002C8 11.2002 9.3 12.5002 11 12.5002Z"
                    fill="#D5D5D5"/>
                  <path
                    d="M9.5999 4.7C9.9999 4.6 10.4999 4.5 10.9999 4.5C13.7999 4.5 15.9999 6.7 15.9999 9.5C15.9999 10.1 15.8999 10.6 15.6999 11.1L18.6999 14.2C20.0999 13 21.2999 11.4 21.9999 9.6C20.2999 5.1 15.9999 2 10.9999 2C9.7999 2 8.5999 2.2 7.3999 2.5L9.5999 4.7Z"
                    fill="#D5D5D5"/>
                  <path d="M11.2998 6.5L13.9998 9.3C13.8998 7.8 12.6998 6.7 11.2998 6.5Z"
                        fill="#D5D5D5"/>
                  <path
                    d="M14.2 13.2998C13.3 13.9998 12.2 14.4998 11 14.4998C8.2 14.4998 6 12.2998 6 9.4998C6 8.2998 6.5 7.0998 7.2 6.2998L4.7 3.7998C2.6 5.0998 0.9 7.0998 0 9.4998C1.7 13.8998 6 16.9998 11 16.9998C13 16.9998 14.9 16.4998 16.6 15.5998L14.2 13.2998Z"
                    fill="#D5D5D5"/>
                  <path
                    d="M3.37825 -0.013991L2.10547 1.25879L18.8637 18.0171L20.1365 16.7443L3.37825 -0.013991Z"
                    fill="#D5D5D5"/>
                </g>
                <defs>
                  <clipPath id="clip0">
                    <rect width="22" height="18" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
            </mat-icon>
          </button>
          <mat-error *ngIf="changePass.get('oldPass').hasError('required')">Введіть пароль</mat-error>
        </mat-form-field>
        <mat-form-field style="width: 100%; margin-top: 1vh;">
          <mat-label>Новий пароль</mat-label>
          <input class="input-pass" matInput #newPassword  formControlName="newPass"
                 [type]="hideNewPass ? 'password' : 'text'"
                 [ngClass]="{'hide-text':!hideNewPass, 'no-hide-text':hideNewPass}">
          <button mat-icon-button matSuffix (click)="hideNewPass = !hideNewPass">
            <mat-icon (click)="hideNewPass ? 'visibility_off' : 'visibility'" *ngIf="hideNewPass">
              <svg width="22" height="15" viewBox="0 0 22 15" fill="none"
                   xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M11 0C6 0 1.73 3.11 0 7.5C1.73 11.89 6 15 11 15C16 15 20.27 11.89 22 7.5C20.27 3.11 16 0 11 0ZM11 12.5C8.24 12.5 6 10.26 6 7.5C6 4.74 8.24 2.5 11 2.5C13.76 2.5 16 4.74 16 7.5C16 10.26 13.76 12.5 11 12.5ZM11 4.5C9.34 4.5 8 5.84 8 7.5C8 9.16 9.34 10.5 11 10.5C12.66 10.5 14 9.16 14 7.5C14 5.84 12.66 4.5 11 4.5Z"
                  fill="#C8C8C8"/>
              </svg>
            </mat-icon>
            <mat-icon (click)="hideNewPass ? 'visibility_off' : 'visibility'" *ngIf="!hideNewPass">
              <svg width="22" height="18" viewBox="0 0 22 18" fill="none"
                   xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                  <path
                    d="M11 12.5002C11.7 12.5002 12.3 12.3002 12.8 11.9002L8.6 7.7002C8.2 8.2002 8 8.8002 8 9.5002C8 11.2002 9.3 12.5002 11 12.5002Z"
                    fill="#D5D5D5"/>
                  <path
                    d="M9.5999 4.7C9.9999 4.6 10.4999 4.5 10.9999 4.5C13.7999 4.5 15.9999 6.7 15.9999 9.5C15.9999 10.1 15.8999 10.6 15.6999 11.1L18.6999 14.2C20.0999 13 21.2999 11.4 21.9999 9.6C20.2999 5.1 15.9999 2 10.9999 2C9.7999 2 8.5999 2.2 7.3999 2.5L9.5999 4.7Z"
                    fill="#D5D5D5"/>
                  <path d="M11.2998 6.5L13.9998 9.3C13.8998 7.8 12.6998 6.7 11.2998 6.5Z"
                        fill="#D5D5D5"/>
                  <path
                    d="M14.2 13.2998C13.3 13.9998 12.2 14.4998 11 14.4998C8.2 14.4998 6 12.2998 6 9.4998C6 8.2998 6.5 7.0998 7.2 6.2998L4.7 3.7998C2.6 5.0998 0.9 7.0998 0 9.4998C1.7 13.8998 6 16.9998 11 16.9998C13 16.9998 14.9 16.4998 16.6 15.5998L14.2 13.2998Z"
                    fill="#D5D5D5"/>
                  <path
                    d="M3.37825 -0.013991L2.10547 1.25879L18.8637 18.0171L20.1365 16.7443L3.37825 -0.013991Z"
                    fill="#D5D5D5"/>
                </g>
                <defs>
                  <clipPath id="clip0">
                    <rect width="22" height="18" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
            </mat-icon>
          </button>
          <mat-error *ngIf="changePass.get('newPass').hasError('required')">Введіть новий пароль</mat-error>
        </mat-form-field>
        <mat-form-field style="width: 100%; margin-top: 1vh;">
          <mat-label>Повторіть пароль</mat-label>
          <input class="input-pass" matInput  formControlName="repeatNewPass"
                 [type]="hideRepNewPass ? 'password' : 'text'"
                 [ngClass]="{'hide-text':!hideRepNewPass, 'no-hide-text':hideRepNewPass}">
          <button mat-icon-button matSuffix (click)="hideRepNewPass = !hideRepNewPass">
            <mat-icon (click)="hideRepNewPass ? 'visibility_off' : 'visibility'" *ngIf="hideRepNewPass">
              <svg width="22" height="15" viewBox="0 0 22 15" fill="none"
                   xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M11 0C6 0 1.73 3.11 0 7.5C1.73 11.89 6 15 11 15C16 15 20.27 11.89 22 7.5C20.27 3.11 16 0 11 0ZM11 12.5C8.24 12.5 6 10.26 6 7.5C6 4.74 8.24 2.5 11 2.5C13.76 2.5 16 4.74 16 7.5C16 10.26 13.76 12.5 11 12.5ZM11 4.5C9.34 4.5 8 5.84 8 7.5C8 9.16 9.34 10.5 11 10.5C12.66 10.5 14 9.16 14 7.5C14 5.84 12.66 4.5 11 4.5Z"
                  fill="#C8C8C8"/>
              </svg>
            </mat-icon>
            <mat-icon (click)="hideRepNewPass ? 'visibility_off' : 'visibility'" *ngIf="!hideRepNewPass">
              <svg width="22" height="18" viewBox="0 0 22 18" fill="none"
                   xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                  <path
                    d="M11 12.5002C11.7 12.5002 12.3 12.3002 12.8 11.9002L8.6 7.7002C8.2 8.2002 8 8.8002 8 9.5002C8 11.2002 9.3 12.5002 11 12.5002Z"
                    fill="#D5D5D5"/>
                  <path
                    d="M9.5999 4.7C9.9999 4.6 10.4999 4.5 10.9999 4.5C13.7999 4.5 15.9999 6.7 15.9999 9.5C15.9999 10.1 15.8999 10.6 15.6999 11.1L18.6999 14.2C20.0999 13 21.2999 11.4 21.9999 9.6C20.2999 5.1 15.9999 2 10.9999 2C9.7999 2 8.5999 2.2 7.3999 2.5L9.5999 4.7Z"
                    fill="#D5D5D5"/>
                  <path d="M11.2998 6.5L13.9998 9.3C13.8998 7.8 12.6998 6.7 11.2998 6.5Z"
                        fill="#D5D5D5"/>
                  <path
                    d="M14.2 13.2998C13.3 13.9998 12.2 14.4998 11 14.4998C8.2 14.4998 6 12.2998 6 9.4998C6 8.2998 6.5 7.0998 7.2 6.2998L4.7 3.7998C2.6 5.0998 0.9 7.0998 0 9.4998C1.7 13.8998 6 16.9998 11 16.9998C13 16.9998 14.9 16.4998 16.6 15.5998L14.2 13.2998Z"
                    fill="#D5D5D5"/>
                  <path
                    d="M3.37825 -0.013991L2.10547 1.25879L18.8637 18.0171L20.1365 16.7443L3.37825 -0.013991Z"
                    fill="#D5D5D5"/>
                </g>
                <defs>
                  <clipPath id="clip0">
                    <rect width="22" height="18" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
            </mat-icon>
          </button>
          <mat-error *ngIf="changePass.get('repeatNewPass').hasError('required')||changePass.get('repeatNewPass').hasError('notSame')">
            <span *ngIf="changePass.get('repeatNewPass').hasError('required')">Повторіть новий пароль</span>
            <span *ngIf="changePass.get('repeatNewPass').hasError('notSame')">Паролі не співпадають</span>
          </mat-error>
        </mat-form-field>
        <!--</div>-->
        <!--<div class="refresh">-->
        <button class="change-pass pointer" (click)="updatePassword()">Оновити пароль</button>
        <!--</div>-->
      </form>
    </div>
    <div class="container-form-right">
      <div class="form-right-header">
        <h1>Особисті дані</h1>
      </div>
      <form class="form-right-content" [formGroup]="baseInfoFormGroup">
        <div class="form-right-one-line">
          <mat-form-field style="width: 48%;">
            <mat-label>Ім'я</mat-label>
            <input  matInput type="text"
                    [(ngModel)]="user.firstName" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
          <mat-form-field style="width: 48%;">
            <mat-label>Прізвище</mat-label>
            <input  matInput type="text"
                    [(ngModel)]="user.lastName" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
        </div>
        <div class="form-right-one-line">
          <mat-form-field style="width: 48%;">
            <mat-label>Email</mat-label>
            <input  matInput type="text"
                    [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
          <mat-form-field style="width: 48%;">
            <mat-label>Телефон</mat-label>
            <input  matInput type="text"
                    [(ngModel)]="user.phone" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
        </div>
        <div class="refresh">
          <button (click)="updateUserInformation()" class="pointer">Оновити інформацію</button>
        </div>
      </form>

    </div>

  </div>

</div>
