<div class="container">
  <div class="filter">
    <div class="filter-top">
      <mat-form-field style="width: 30%;">
        <mat-label>Пошук за назвою</mat-label>
        <input matInput >
      </mat-form-field>
      <mat-form-field style="width: 30%;">
        <mat-label>Категорія</mat-label>
        <mat-select>
          <mat-option>

          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-slide-toggle style="width: 30%;">Сортування за ціною</mat-slide-toggle>
    </div>
    <div class="filter-bottom">
      <div style="width: 30%; display: flex; align-items: stretch; justify-content: space-between;">
        <button class="reset">
          <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M19 7.51556H11.8428L14.7353 4.53889C11.8534 1.68889 7.18753 1.58333 4.30567 4.43333C1.42381 7.29389 1.42381 11.9067 4.30567 14.7672C7.18753 17.6278 11.8534 17.6278 14.7353 14.7672C16.1709 13.3528 16.8887 11.6956 16.8887 9.60556H19C19 11.6956 18.071 14.4083 16.2131 16.245C12.5079 19.9183 6.49082 19.9183 2.78557 16.245C-0.909123 12.5822 -0.940792 6.62889 2.76446 2.96611C6.46971 -0.696667 12.4129 -0.696667 16.1181 2.96611L19 0V7.51556Z"
              fill="white"/>
          </svg>
        </button>
        <button class="apply">Застосувати</button>
      </div>
    </div>

  </div>
  <div class="catalog">
    <div class="one-elem" *ngFor="let one of products;trackBy: trackId">
      <app-catalog-one [product]="one"></app-catalog-one>
    </div>
  </div>

</div>
